In [15]:
from eval_metrics import evaluate_representativeness,evaluate_simplicity, evaluate_diversity,evaluate_incentive_compatibility,evaluate_resistance_to_malicious_behavior,evaluate_resistance_to_collusion,evaluate_robustness

from voting_model import Simulation

In [24]:
num_voters=150
num_projects=600
max_allocation=30000000
willingness_to_spend=1
laziness_factor=0.6
expertise_factor=0.7
quorum=17
min_amount=1500


simulation = Simulation()

simulation.initialize_round(max_allocation)
simulation.randomize_voters(num_voters, willingness_to_spend, laziness_factor, expertise_factor)
simulation.randomize_projects(num_projects, coi_factor=0)
simulation.simulate_voting()    
results = simulation.allocate_votes('median', quorum, min_amount)
print(results)
data = simulation.get_project_data()

{'scoring_method': 'median', 'vote_quorum': 17, 'min_amount': 1500, 'num_projects_above_quorum': 332, 'avg_payout': np.float64(90361.44590361445), 'median_payout': np.float64(54676.685), 'max_payout': np.float64(653185.05)}

In [25]:
import pandas as pd
df=pd.DataFrame(data)
df.head(5)

   project_id owner_id    rating  num_votes         score  token_amount
0           0     None  2.536774          4      0.000000          0.00
1           1     None  2.987176         17   7716.745168       6178.21
2           2     None  3.799712         42  59066.858966      47290.36
3           3     None  3.304313         34  35621.471451      28519.41
4           4     None  3.385679         36  34136.003330      27330.11